<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShopMarketing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1857A5E21C8928AF0041569A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1857A5FB1C8928AF0041569A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1857A6061C8928AF0041569A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
